{% extends 'whizzdiva/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group row">
        <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label">
            {{ form.username.label_tag }}
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="{{ add_form.relative_domain.label }}"
                   name="{{ form.username.html_name}}"
                   required id="{{ form.username.id_for_label }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="{{ form.password.id_for_label }}" class="col-sm-2 col-form-label">
            {{ form.password.label_tag }}
        </label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="{{ form.password.html_name}}"
                   required id="{{ form.password.id_for_label }}">
        </div>
    </div>
    {% if form.errors %}
    <div class="form-group row">
        <div class="col-sm-10">
            <div class="alert alert-danger" role="alert">
                Your username and password didn't match. Please try again.
            </div>
        </div>
    </div>
    {% elif next%}
    {% if user.is_authenticated %}
    <div class="form-group row">
        <div class="col-sm-10">
            <div class="alert alert-warning" role="alert">
                Your account doesn't have access to this page. To proceed, please sign in with an account that has
                access.
            </div>
        </div>
    </div>
    {% else %}
    <div class="form-group row">
        <div class="col-sm-10">
            <div class="alert alert-info" role="alert">
                Please sign in to see this page.
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock %}