{% extends 'whizzdiva/base.html' %}

{% block title %}Delete Dynamic Domain{% endblock %}
{% block headline %}Delete Dynamic Domain{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    Are you sure you want to delete the dynamic domain {{ dynamic_domain.relative_domain }}.{{ dynamic_domain.zone.domain }}?
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% icon 'delete' %} Delete
    </button>
    {% endbuttons %}
</form>
{% endblock %}